<% include partials/header %>
  <div class="container">
      <h2><%= blog.title %></h2>
      <img src="#" alt="<%= blog.image %>">
      <p class="lead"><%= blog.body %></p>
      <p><%= blog.created.toDateString() %></p>
      <a href="/blogs">Go back</a>
      <a class="btn btn-primary" href="/blogs/<%= blog._id %>/edit">Edit</a>
      <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
  </div>
<% include partials/footer %>